*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.nav-container{
  display: flex;
  gap: 16px
}

.side-nav{
  display: none;
}

@media (max-width: 1100px) {
  .nav-container{
    display: none;
  }

  .side-nav{
    display: block;
  }
}