*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Adjust the width as needed */
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Hide cart by default */
}

.cart-container.open {
  transform: translateX(0); /* Show cart when open */
}

.cart-container h2 {
  margin-top: 0;
}

.cart-container button {
  display: block;
  margin: 10px 0;
}